form{
    margin: 16px auto;
    width:50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    background-color: beige;
    padding: 16px;
    border-radius: 16px;
}
.new-product_button button{
    color:white;
    border:none;
   background-color: purple;
   padding:8px;
   border-radius: 8px;
}
label{
    font-weight: 5000;
}
input{
    padding: 4px;
    border: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.09);
    border-radius: 4px;
    margin-bottom: 10px;
}